/* Basic css style for all pages */
.wrapper 
{
	/* width: 90%; */
	max-width: 1200px;
  	/* height: 600px; */
  	margin: 0 auto;
  	background-color: #9bc09a;
}

h1 {	
	/* Nadpis s obrazkem resp. obrazek */
    padding: 20px 0;
    text-align: center;
    border-top: 2px solid #408080;
    border-bottom: 2px solid #408080;
    /*width: 50%;*/
}

img {
	max-width: 100%;
}

a {
	color: #2e4372;
	text-decoration: none;
}

a:hover {
	color: #2e4372;
}

#content {
	/* width: 70%;*/
	min-width: 1000px;
	/*width: auto;*/
	margin: 5px auto;
	background-color: #fefeff;
	/* border-radius: 10px; */
	padding: 10px;
	
	/* float:right; */
	overflow: hidden;
}

#top {
	border-bottom: 1px solid #2e4372;
	padding: 10px 0px;
}

#middle {
	width: -webkit-fill-available;
	padding: 10px 0px;
	display: inline-block;
}

#bottom {
	border-top: 1px solid #2e4372;
	padding: 10px;
	clear: right;
}

/* === Base page ==== */

.basePanel {
	border: 3px solid #2e4372;
	width: 40%;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	vertical-align: top;
	text-align: left;
}

.basePanelSingle {
	width: 100%;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	vertical-align: top;
	text-align: left;
}

.basePanel h2 {
	margin: 5px;
	border-bottom: 1px solid #2e4372;
}

.basePanelSingle h2 {
	margin-top: auto;
	margin-bottom: 15px;
	background-color: #c0ced3;
}

.baseLinkPanel {
	padding: 3px 5px;
}

.baseLinkPanel a {
	text-decoration: underline;
}

.baseLinkPanel a:hover {
	color: #95aad6;
}

/* ======= Category list panel =========== */

.categoryListWrapper {
	height: 100%;
}

.categoryPanel {
	background-color: #d4d4d4;
	float: left;
	text-align: center;
	padding: 5px 0px;
	width: 10%;
}

.categoriesLabel {
	text-align: center;
	background-color: #9bc09a;
	color: #808080;
	margin-top: 5px;
}

.categoryLinkPanel {
	padding: 3px 5px;
}

.categoryLinkPanel a {
	font-size: 110%;
	color: #408080;
}

.categoryLinkPanel a:hover {
	color: #95aad6;
}


.editMenu {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #2e4372;
}

.article {
	padding: 10px;
}

.footer {
	font-size: smaller;
	float: right;
}

.clear {
	clear: both;
}

.feedbackPanel {
        list-style: none;
        color: red;
        font-style: italic;
        font-weight: bold;
        /*border: 1px solid red;*/
        margin: 5px 5px;
        padding: 5px;
}

.feedbackSuccess {
    list-style: none;
    color: green;
    width : 25%;
    border: 1px solid green;
    margin: 5px 5px;
    padding: 10px;
}


.feedbackInfo {
    list-style: none;
    color: green;
    width : 25%;
    border: 1px solid green;
    margin: 5px 5px;
    padding: 10px;
}


.feedbackError {
	/*display: block;*/
	width : 25%;
    list-style: none;
    color: red;
    border: 1px solid red;
    margin: 5px 5px;
    padding: 5px;
}


nav ul {
	font-size: 110%;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	display: inline-block;
	border: 1px solid #2e4372;
	padding: 2px 5px;
	margin: 1px;
}

nav ul li a:hover {
	background-color: #efefff;
}

nav.topMenu ul li a.logout {
	border-color: red;
	color: red;
}

nav.topMenu ul li a.logout:hover {
	background-color: red;
	color: white;
}

table {
	border-collapse: collapse;
	margin: 10px 0px;
	border: 1px solid #2e4372;
}

tbody tr {
	cursor: pointer;
}

td {
	padding: 5px 10px;
}

th {
	padding: 5px;
}

tbody tr:nth-child(odd) {
	background: #efefff;
}

form {
	margin: 10px 5px;
}

label {
	display: inline-block;
	margin: 5px 10px;
}

.linkUserLabel
{
	text-decoration: underline;
	margin: 5px 10px;
	float: right;
}

input[type="submit"], input[type="button"] {
	margin-top: 5px;
}

.multiUpload {
	margin: 5px 0;
}

/* ======= Register =========== */

.register {
	margin: 10px;
	display: inline-block
}

.register a {
	margin: 0;
	font-size: 110%;
	display: inline-block;
	border: 1px solid blue;
	color: blue;
	padding: 2px 5px;
	margin: 1px;
}

.register a:hover {
	background-color: blue;
	color: white;
}

/* ======= Contact page =========== */

.contactForm {
	margin: 5px;
}

.contactForm h3 {
	margin: 5px;
}

.contactMessage {
	border: 1px solid #2e4372;
	margin: 5px 5px;
	padding: 5px;
}


/* ======= Comments =========== */

.formContainer {
	border-top: 1px solid #2e4372;
}

.commentsContainer {
	border-top: 1px solid #2e4372;
}

.comment {
	border: 1px solid #2e4372;
	margin: 10px 5px;
	padding: 5px;
}

.addCommentInfo {
	display: inline-block;
	margin: 0 5px;
	font-size: smaller;
}

/* ======= IMAGES =========== */

.imageContainer .image {
	display: inline-block;
	width: 300px;
	float: left;
	border: 1px solid #2e4372;
	margin: 5px;
	padding: 5px;
}

.imageContainer .image .name {
	border-top: 1px solid #2e4372;
	padding: 5px 0;
}

.imageContainer .image a.delete  {
	display: inline-block;
	border: 1px solid #2e4372;
	margin-top: 5px;
	padding: 3px 5px;
}

.imageContainer .image a.delete:hover  {
	background-color: #efefff;
}